apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-actual-budget
  namespace: actual-budget
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 100M

