apiVersion: v1
kind: Service
metadata:
  name: actual-budget
  namespace: actual-budget
  labels:
    app: actual-budget
spec:
  clusterIP: None
  ports:
  - name: actual-budget
    port: 8080
    targetPort: 8080
  selector:
    app: actual-budget

